.HomePage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;    
    text-align: center;
    .hero-text {
        color: white;
        font-size: 3.5rem;
        //     text-align: center;
        span {
            color: #8353b5;
        }
    }
    // .home-subtext {
    //     text-align: center;
    // }
    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 0;
        .icon-holder {
            margin-right: 1rem;
            .icon {
                font-size: 2.3rem;
                color: #a4acc4;
                transition: all 0.3s ease-in-out;
            }

            .resume:hover {
                color:#F40F02;
            }
            .gh:hover {
                color:#6e5494;
            }
            .li:hover {
                color:#0e76a8;
            }
        }
    }
}

.typed-text {
    font-size: 1.7rem;
    color: inherit;
}
